<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="css/tacit-css.min.css"/>
    <title>The Vulnerable Movie Center</title>
    <style>
      body {
        padding-top:0px;
      }
      .thin {
        margin-top:5px;
        margin-bottom:5px;
      }
      #search-form {
        text-align:right;
        margin-bottom:0;
        padding-bottom:0;
      }
      #search-result {
        display: none;
      }
      #plan-data {
        padding-bottom:10px;
      }
      #planupgrade {
        vertical-align:top;
        margin:10px;
        width: 400px;
      }
      #plan-details {
        padding-top: 5px;
        display:inline-block;
        width:40%;
      }
      #search-term {
        font-style: italic;
      }
      #actions form {
        padding-left: 10px;
        display:inline;
      }
      button#atualizar-btn {
        background: #4cb165;
      }
      button#detalhes-btn {
        background: grey;
      }
    </style>

  <script src="js/search.js"></script>
  </head>
  <body>
    <section>
      <h1 style="margin-top:5px">Sistema vulnerável</h1>
      <hr class="thin">
      <form id="search-form" onsubmit="return search()">
        <input id="keyword" type="text" class="thin" placeholder="Buscar produto"><button type="submit" class="thin">Ir</button></form>
      <hr class="thin">
    </section>

    <section id="search-result">
      Você está procurando por<span id="search-term"></span>
      <p>Aguardando o sistema responder</p>
    </section>

    <section id="plan-data">
      <img id="planupgrade" src="images/upgrade-profissional.png"/>
      <div id="plan-details">
        <b>Plano: </b>Gold<br/>
        <b>Benefícios: </b>Atendimento individualizado<br/>
        
      </div>
      <div id="actions">
        <form action="/">
          <button id="detalhes-btn" type="submit">Mais detalhes</button>
        </form>
        <form method="post" action="purchase">
          <input type="hidden" name="dvdCode" value="PLAN-018473664">
          <button id="atualizar-btn" type="submit">Atualizar por (R$50,00)</button>
          <p><%= typeof purchaseMessage !== 'undefined' ? purchaseMessage : ''%></p>
        </form>  
      </div>
      <% if (!isValidSession) { %>
        <div>Você precisa ter uma <a href="session/new"">sessão válida</a> para atualizar o plano.</div>
      <% } %>
    </section>

    <hr>
  </body>
</html>